
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles for the entire app */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #080f0ae1;
  color: #7bc4c4;
}

h1 {
  background-color: #888;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  background-color: #584545;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
}

/* Styles for Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-logo {
  flex: 1;
}

.nav-logo h1 {
  margin: 0;
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.nav-link:hover {
  opacity: 0.8;
}

/* Styles for CarCatalog */
.car-catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.catalog-title {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

/* Styles for CarCard */
.car-card {
  cursor: pointer;
  border: 1px solid #106186;
  padding: 2rem;
  border-radius: 10px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  background-color: #a17171;
}

.car-card:hover {
  box-shadow: 0 12px 24px rgba(33, 78, 204, 0.925);
  transform: scale(1.05);
}

.car-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(97, 7, 74, 0.911);
}

.car-details h2,
.car-details h3,
.car-details p {
  margin: 0;
}

/* Styles for CarDetail */
.car-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #c2dad6;
  box-shadow: 0 4px 10px rgba(186, 203, 206, 0.877);
  border-radius: 10px;
  transition: opacity 0.2s ease;
}

.back-button {
  background-color: #1bc4c4;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.back-button:hover {
  background-color: #43c41b;
  opacity: 0.8;
}

.car-brand {
  margin: 0;
  font-size: 2.5rem;
  color: #333;
  background-color: rgb(192, 247, 239);
}

.car-model {
  margin: 0;
  font-size: 1.8rem;
  color: #888;
  background-color: rgb(213, 253, 221);
}

.car-info {
  margin: 0;
  font-size: 1.2rem;
  color: #555;
  background-color: rgb(166, 235, 247);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .car-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .catalog-title {
    font-size: 2.5rem;
  }

  /* Additional responsive styles */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

/* Dark Mode Toggle Styles */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #51776f;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(98, 138, 128);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: black;
  color: #fff;
}

/* Shuffle Cars Button Styles */
.shuffle-button {
  background-color: #1b1394;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
}

.shuffle-button:hover {
  opacity: 0.8;
  background-color: #1bc4c4;
}



.like-button {
  background-color: #51776f;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
}

.like-button.liked {
  background-color: #2196f3;
}

.like-button:hover {
  background-color: #540dc7;
  opacity: 0.8;
}

.like-button, .dislike-button {
  background-color: #51776f;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
}

.dislike-button:hover, .dislike-button:hover {
  background-color: #dfc264;
  opacity: 0.8;
}

.dislike-button {
  background-color: #d64949;
}

.dislike-button.disliked {
  background-color: #ff0000;
}